.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101044;
    display: inline-block;
    width: 100%;
}
.menu > ul > li {
    float: left;
    vertical-align: middle;
}
.menu > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 3px;
}

input {
    background-color: beige;
}

label {
    border: none;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}