.menu {
    font-family: monospace;
    margin: auto;

}

.menu > ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #101044;
    display: inline-block;
    width: 100%;
}
.menu > ul > li {
    float: left;
    margin: auto;
}
.menu > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    margin: auto;
}

.logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
}

input {
    background-color: beige;
}

label {
    border: none;
}

form{
    text-align: left;
}

.loginform {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: left;
}

* {
    font-family: monospace;
}

table {
    border: 1px solid #101044;
}

tr:hover {background-color: #f5f5f5;}